form {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.formContact {
  width: 600px;
  gap: 1vh;
  border: 2px solid #67daed;
  border-radius: 5px;
  padding: 40px;
  padding-bottom: 1vh;
}

.container-contact-me {
  display: flex;
  justify-content: center;
}
.sendbtn {
  cursor: pointer;
  width: clamp(120px, 15vw, 200px);
  border: none;
  border-radius: 20px;
  align-self: center;
}

@media screen and (width <768px) {
  .formContact {
    width: 90%;
  }
}
