body {
  margin: 0;
  background-color: #1a191d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
