body {
  margin: 0;
  background-color: #1a191d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opactity: 1;
  }
  100% {
    opacity: 0;
  }
}
.btnGoUp {
  animation: fadeIn 1s;
  position: fixed;
  cursor: pointer;
  right: 3vw;
  bottom: 3vh;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--links);
  border: none;
}

/* Styles CSS pour le footer */

footer {
  background-color: #0e0e0e;
  display: flex;
}

.footer-heading-title,
.footer-text {
  color: white;
}

.footerLinks {
  display: flex;
  flex-direction: column;
}

.footerLinks a {
  text-decoration: none;
  color: white;
}

.email-footer-style {
  position: relative;
  width: fit-content;
  z-index: 1;
}
.email-footer-style::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 12px;
  left: -3px;
  width: 105%;
  height: 8px;
  background-color: purple;
}

.elemento-left-footer,
p {
  color: white;
}
.left-side-container,
.right-side-container {
  width: 100%;
  padding: 30px 0 0 50px;
}

.right-side-container {
  display: flex;
  padding-top: 0 !important;
}
.espace-container {
  display: block;
  height: 80px;
  width: 100%;
}

.footer-title {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: clamp(30px, 2em, 45px);
  line-height: 1.2em;
}
.footer-text p {
  margin: 20px 0;
  font-size: 19px;
}

.elementor-left-footer-text {
  padding: 20px;
  background-color: #bc60fb;
  height: 100%;
}

.elementor-right-footer-text {
  background-color: #0068dd;
  height: 50%;
}

.elementor-right-bottom-footer-text {
  background-color: orange;
  height: 50%;
}
